

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*  Header Section  */
header {
    width: 100vw;
    height: 200px;
    background-color: black;
    margin: 0 auto;
    top: 0;
}

.header-inner-container {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
}

.header-title {
    display: inline-flex;
    max-width: 50%;
    height: 100%;
}

.header-image-logo {
    max-width: 50%;
}

.header-image-logo img {
    height: 100px;
    width: 100px;
}

.header-title-text {
    max-width: 50%;
}

.header-title-text h2 {
    color: white;
}

.header-menu {
    float: right;
}

.header-list {
    display: inline-flex;
    width: 100px;
    height: 200px;
}

.menu-item-1 {
    background-color: rgb(150, 188, 206);
}

.menu-item-2 {
    background-color: #FF6F69;
}

.menu-item-3 {
    background-color: #88D8B0;
}

.menu-item-4 {
    background-color: #FFCC5C;
}