

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: rubik;
}

.parallax-outer-wrapper {
    overflow: hidden;
}

.parallax-inner-wrapper {
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}


/*  Header Section  */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 140px;
    z-index: 100;
    background-color: black;
    margin: 0 auto;
}

.header-inner-container {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
}

.header-title {
    display: inline-flex;
    max-width: 50%;
    height: 100%;
}

.header-image-logo {
    max-width: 50%;
}

.header-image-logo img {
    height: 100px;
    width: 100px;
}

.header-title-text {
    max-width: 50%;
}

.header-title-text h2 {
    color: white;
}

.header-menu {
    float: right;
}

.header-menu ul {
    position: relative;
}

.header-list {
    display: inline-flex;
    position: absolute;
    top: -80px;
    width: 100px;
    height: 270px;
    border-radius: 0% 25px;
    justify-content: center;
    padding-top: 225px;
    color: white;
    font-weight: 700;
}

.menu-item-1 {
    background-color: rgb(170, 169, 169);
    border: 3px solid rgb(146, 145, 145);
    left: -516px;
    transition-duration: 0.15s;
}

.menu-item-1:hover {
    background-color: rgb(216, 59, 75);
    border: 3px solid rgb(226, 99, 95);
    
}

.menu-item-2 {
    background-color: #0096E6;
    border: 3px solid rgb(118, 185, 216);
    left: -412px;
}

.menu-item-3 {
    background-color: rgb(67, 201, 138);
    border: 3px solid rgb(123, 216, 169);
    left: -308px;
}

.menu-item-4 {
    background-color: rgb(236, 112, 63);
    border: 3px solid rgb(231, 140, 104);
    left: -204px;
}

.menu-item-5 {
    background-color: rgb(244, 228, 53);
    border: 3px solid rgb(245, 237, 147);
    left: -100px;
}


/*  Hero Section  */
.hero-box {
    margin-top: 500px;
    width: 100vw;
    height: 60vh;

}

.hero-box::before {
    background: url("./Pictures/white.png");
    background-size: cover;
    background-repeat: repeat;
    transform-style: preserve-3d;
    transform: translatez(-1px) scale(2);
    content: "";
    width: 100vw;
    height: 200vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-inner-container {
    margin: 200px auto 0;
    max-width: 1180px;
    font-size: 2rem;
}

.hero-inner-container h1 {
    margin-bottom: 10px;
    font-size: 4em;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.hero-inner-container p {
    color: rgb(214, 119, 119);
}

/*  About Me Section  */
.about-me-title-outer-container {
    display: flex;
    justify-content: center;
}

.about-me-title {
    display: flex;
    flex-direction: column;
    width: 1180px;
    margin: 100px 0 0 0;
}

.about-me-grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1180px;
    margin: 0 auto;
}

.about-me-box1 {
    grid-column: 1/6;
    height: 450px;
    margin: 175px 0;
    align-items: center;
}

.about-me-img {
  width: 450px;
  height: 450px;
  background-image: url("./Pictures/about-me.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid #CCCCCC;  
  border-radius: 50%;
}

.about-me-image-title {
    position: relative;
    top: -70px;
    left: 200px;
    color: #46484A;
    margin: auto 0;
    font-size: 32px;
}

.about-me-paragraph {
    grid-column: 8/13;
    display: flex;
    align-items: center;
    margin-top: 212px;
    height: 500px;
}

.about-me-paragraph p {
    height: 50%;
    border: 2px solid #CCCCCC;
}


/*  Skills Section  */
.skills-title-outer-container {
    display: flex;
    justify-content: center;
}

.skills-title {
    display: flex;
    flex-direction: column;
    width: 1180px;
    margin: 100px 0 40px 0;
}

.underline {
    width: 400px;
    height: 0;
    margin-top: 10px;
    border: 1px solid rgb(214, 119, 119);
}

.skills-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3%;
}

.skills-container {
    border: 3px solid black;
    height: 280px
}

.skill-container-1 {
    grid-column:1/2;
}

.skill-container-2 {
    grid-column:2/3;
}

.skill-container-3 {
    grid-column:3/4;
}

.skill-container-4 {
    grid-column:4/5;
}

.skill-container-5 {
    grid-column:5/6;
}

.skills-individual-container {
    margin: 15px auto;
    width:70%;
    height: 270px;
}

.skill-individual-container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    border: 3px solid black;
}

.skill-individual-container-header h3 {
    line-height: 100%;
    vertical-align: middle;
}

.skills-individual-icon-container {
    width: 100%;
    height: 180px;
    margin-top: 15px;
    border: 3px solid black;
    background-size: cover;
    background-position: center;
}

.skills-icon-1 {
    background-image: url("./Pictures/html.png");
}

.skills-icon-2 {
    background-image: url("./Pictures/css.png"); 
}

.skills-icon-3 {
    background-image: url("./Pictures/javascript.png");
}

.skills-icon-4 {
    background-image: url("./Pictures/psd.png");
}

.skills-icon-5 {
    background-image: url("./Pictures/doc.png");
}

/*  Certification Section  */
.certification-title-outer-container {
    display: flex;
    justify-content: center;
}

.certification-title {
    display: flex;
    flex-direction: column;
    width: 1180px;
    margin: 100px 0 0;
}

.certification-container {
    display: flex;
    justify-content: center;
}

.certification-inner-container {
    display: flex;
    justify-content: space-around;
    width: 1180px;
}

.certification-box {
    flex-basis: 500px;
    height: 500px;
    
}

.certification-box-1 {
    background-image: url("./Pictures/webdevcert.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.certification-box-2 {
    background-image: url("./Pictures/javascriptcert.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*  Projects Section  */
.projects-title-outer-container {
    display: flex;
    justify-content: center;
}

.projects-title {
    display: flex;
    flex-direction: column;
    width: 1180px;
    margin: 100px 0 40px 0;
}

.projects-container {
    display: flex;
    justify-content: center;
}

.projects-inner-container {
    display: flex;
    justify-content: space-around;
    width: 1180px;
}

.projects-individual-container {
    position: relative;
    flex-basis: 450px;
    height: 450px;
    border: 3px solid black;
    border-radius: 10px;
}

.projects-individual-box-1 {
    background: bisque;
    background-image: url("./Pictures/shop.jpg");
    background-size: contain;
}

.projects-individual-box-2 {
    background: violet;
    background-image: url("./Pictures/ColmarAcademy.jpg");
    background-size: contain;
}

.projects-bottom-half-box {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    border-top: 3px solid black;
    z-index: 5;
    background: brown;
    border-radius: 0 0 2px 2px;
    transition: all 0.25s ease-out; 
}

.projects-bottom-half-box:hover {
    height: 99%;
}

.projects-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background: red;
    margin-top: -70px;
    z-index: 10;
    border: 6px solid black;
    border-radius: 50%;
}

.projects-icon img {
    width: 50%;
}

/*  Form Section  */
.form-container {
    display: flex;
    justify-content: center;
}

.form-inner-container {
    display: flex;
    justify-content: flex-end;
    width: 1180px;
}

form {
    width: 640px;
    margin: 60px 0;
}

.form-control {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form .submit {
    background-color: red;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    background-color: white;
    border: 2px solid red;
    color: red;
    cursor: pointer;
    transition: .18s ease-in-out;
}